<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <!-- 动态背景颜色 -->
    <!-- <link rel="stylesheet" type="text/css" href="../bg/style.css" /> -->
    <link rel="stylesheet" href="https://www.jq22.com/jquery/font-awesome.4.6.0.css">
</head>
<body>
    <div class="container">
        TODO
    </div>

    <script src="script.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>