* {
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 50%, #ffffff 100%);
}

ul, li {
    list-style: none;
}

.tabBar {
    height: 64px;
    width: 275px;
    border-radius: 12px;
    background-color: #fff;
    display: flex;
    position: relative;
}

.tab-item {
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 22px;
    position: relative;
    cursor: pointer;
    color: #a6a6a6;
}

.tab-item i {
    position: relative;
}

.tab-item p {
    font-size: 8px;
}

.tab-item.active {
    color: #000;
}

.tab-item,
.tab-item.active i,
.tab-item.active p {
    transition: all 0.2s ease;
}

.tab-item.active i,
.tab-item.active p {
    transform: translateY(-10px);
}

.tab-item.active p {
    margin-top: 3px;
}

.tab-item.active i::after {
    content: "";
    width: 28px;
    height: 28px;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    left: -3px;
    z-index: -1;
    display: inline-block;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.active-top {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    transition: left 0.2s ease-in-out;
    pointer-events: none;
    display: none;
}