<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>模态框</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <!-- 动态背景颜色 -->
    <link rel="stylesheet" type="text/css" href="../bg/style.css" />
    <link rel="stylesheet" href="https://www.jq22.com/jquery/font-awesome.4.6.0.css">
</head>
<body>
    <div>
        <h3>模态框 demo</h3>
        <button class="btn" id="open" >模态框</button>
    </div>


    <div class="modal-container" id="modal">
        <div class="modal">
            <button type="button" class="close-btn" id="close">
                <i class="fa fa-times"></i>
            </button>
            <div class="modal-header">
                我是标题
            </div>

            <div class="modal-content">
                <div class="modal-content-container">
                    <p>登录了解更多</p>
                    <p>登录了解更多</p>
                    <p>登录了解更多</p>
                    <p>登录了解更多</p>
                </div>
            </div>
        </div>
    </div>

    <script src="script.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>